<div class="center">
  <div class="container">
    <button mat-stroked-button style="border-color: #5865f2">
      <h1>Discord</h1>
      <p>Mogyuchi#0918</p>
    </button>
    <a
      mat-stroked-button
      style="border-color: #f00074"
      href="https://www.instagram.com/mogyuchi/"
      target="_blank"
    >
      <h1>Instagram</h1>
      <p>Mogyuchi</p>
    </a>
    <a
      mat-stroked-button
      style="border-color: #1d9bf0"
      href="https://twitter.com/Mogyuchi"
      target="_blank"
    >
      <h1>Twitter</h1>
      <p>@Mogyuchi</p>
    </a>
    <a
      mat-stroked-button
      style="border-color: #ff4500"
      href="https://www.reddit.com/user/Mogyuchi"
      target="_blank"
    >
      <h1>Reddit</h1>
      <p>Mogyuchi</p>
    </a>
    <a
      mat-stroked-button
      style="border-color: rgb(0, 0, 0)"
      href="https://steamcommunity.com/id/Mogyuchi"
      target="_blank"
    >
      <h1>Steam</h1>
      <p>Mogyuchi</p>
    </a>
    <a
      mat-stroked-button
      style="border-color: #222222"
      href="https://github.com/Mogyuchi"
      target="_blank"
    >
      <h1>GitHub</h1>
      <p>Mogyuchi</p>
    </a>
    <a
      mat-stroked-button
      style="border-color: #ff0000"
      href="https://www.youtube.com/channel/UCOv3KOCGFmw9CH9iTa_tETQ"
      target="_blank"
    >
      <h1>YouTube</h1>
      <p>Mogyuchi</p>
    </a>
    <a
      mat-stroked-button
      style="border-color: #9146ff"
      href="https://www.twitch.tv/mogyuchi"
      target="_blank"
    >
      <h1>Twitch</h1>
      <p>Mogyuchi</p>
    </a>
    <a
      mat-stroked-button
      style="border-color: #55c500"
      href="https://qiita.com/Mogyuchi"
      target="_blank"
    >
      <h1>Qiita</h1>
      <p>Mogyuchi</p>
    </a>
    <a
      mat-stroked-button
      href="https://www.tiktok.com/@mogyuchi?"
      target="_blank"
    >
      <h1>TikTok</h1>
      <p>Mogyuchi</p>
    </a>
  </div>
</div>
