<div class="center">
  <div class="container">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar id="pronouns-image"></div>
        <mat-card-title>Pronouns</mat-card-title>
        <mat-card-subtitle>ae/aer</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar id="so-image"></div>
        <mat-card-title>SO</mat-card-title>
        <mat-card-subtitle>Omnisexual</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar id="gi-image"></div>
        <mat-card-title>GI</mat-card-title>
        <mat-card-subtitle>???</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar id="nation-image"></div>
        <mat-card-title>Nation</mat-card-title>
        <mat-card-subtitle>Japan</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar id="workspace-image"></div>
        <mat-card-title>Workspace</mat-card-title>
        <mat-card-subtitle>iPad Pro 5th gen</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar id="birthday-image"></div>
        <mat-card-title>Birthday</mat-card-title>
        <mat-card-subtitle>Sep 18, 2002</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
</div>
