<mat-toolbar [class.mat-elevation-z5]="true" color="primary">
  <button mat-button class="title" routerLink=".">&nbsp;{{ title }}</button>
  <button mat-icon-button routerLink="introduction">
    <mat-icon>chat</mat-icon>
  </button>
  <button mat-icon-button routerLink="randomfacts">
    <mat-icon>table_rows</mat-icon>
  </button>
  <button mat-icon-button routerLink="skills">
    <mat-icon>handyman</mat-icon>
  </button>
  <button mat-icon-button routerLink="links">
    <mat-icon>link</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
